@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.eot');
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.woff') format('woff'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.ttf') format('truetype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Bold.svg#NotoSansBoldKr') format('svg');
    font-weight: 700;
  }
  
  
  
  
  @font-face {
    font-family: 'Noto Sans KR';
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.eot');
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.woff') format('woff'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.ttf') format('truetype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Regular.svg#NotoSansRegularKr') format('svg');
    font-weight: normal;
  }
  
  
  
  
  @font-face {
    font-family: 'Noto Sans KR';
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.eot');
    src: url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.woff') format('woff'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.ttf') format('truetype'),
         url('https://cdn.rawgit.com/kattergil/Noto-Sans-KR/7284b009/NotoSans-Thin.svg#noto_sans_krthin') format('svg');
    font-weight: 100;
  }